@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Guardian Text Egyptian Web",Georgia,serif;
  line-height: 24px;
  font-size: 16px;
  color: #333;
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  p {
    padding: 0;
    margin: 0 0 16px;
  }

  .web-only {
    display: block;
  }
  .app-only {
    display: none;
  }
}

body.ios,
body.android {
  .web-only {
    display: none;
  }
  .app-only {
    display: block;
  }
}
